<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    
    <app-header></app-header>
    <!-- <app-parent></app-parent>
    <h1>{{StoreName}}</h1>
    
    <img [src]="StoreLogo">
    <h3 *ngIf="!IsNoDis; else elseBlock">We offer an explicit discount of : {{Discount}} </h3>
    <br>
    <ng-template #elseBlock>NoDiscount</ng-template>
    <br>
    <button (click)="TogglePurchase()">Purchase</button>
    <br>
    <h3>We offer an explicit discount of : {{Discount}} </h3>
    <br>
    <ng-template #elsepurchase>Thanks for purchasing from our Store</ng-template>
    <br>
    <div>
      <select>
        <option *ngFor="let cat of CategoryList ;">{{cat.Name}}</option>
      </select>
    </div>


    <table class="table" *ngIf="!IsPurchased; else elsepurchase">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quatity</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of ProductList ;">
          <th scope="row">{{pro.ID}}</th>
          <td>{{pro.Name | uppercase}}</td>
          <td>{{pro.Price}}</td>
          <td>{{pro.Quantity}}</td>
          <td><img width="100" [src]="pro.Img"></td>
        </tr>
        
      </tbody>
    </table>
    
    <br>
    <input type="text" [(ngModel)]="ClientName" />
    
    <div>
      {{ClientName}}
    </div> -->

    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quatity</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of productsFromChild">
          <th scope="row">{{pro.ID}}</th>
          <td>{{pro.Name | uppercase}}</td>
          <td>{{pro.Price}}</td>
          <td>{{pro.Quantity}}</td>
          <td><img width="100" [src]="pro.Img"></td>
        </tr>
        
      </tbody>
    </table>
    <app-products (ShowEvent)="productsFromChild = $event"></app-products>
    
    
    <router-outlet></router-outlet>
    
    
  
  <app-footer></app-footer>
</body>
</html>

